.offersSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
}

.offersSection img{
    margin: 0 1vmax;
    transition: all 0.5s;
}

.offersSection img:hover{
    box-shadow: 15px 15px 20px rgba(19, 18, 18, 0.363);
}